@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.custom-select {
  background-color: #001840 !important;

  /* color: white !important; */
}

.custom-select-tag {
  background-color: #001840; /* Sets the background color */
  color: white; /* Sets the text color */
  border: 1px solid #001840; /* Matches the border with the background */
  border-radius: 5px; /* Optional: Adds rounded corners */
  padding: 10px; /* Adds padding for better appearance */
  font-size: 16px; /* Sets font size */
}

.custom-select .ant-select-selector {
  background-color: #001840 !important;
  height: 34px !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
}

.custom-select .ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.custom-select .ant-select-selection-item {
  color: white !important;
  font-size: 10px !important;
}

.custom-select-dropdown {
  background-color: #001840 !important;
}

.custom-select-dropdown .ant-select-item {
  transition: background-color 0.2s ease;
  color: rgba(255, 255, 255, 0.5) !important;
}

.custom-select-dropdown .ant-select-item:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  cursor: pointer;
}

.custom-select-dropdown .ant-select-item-option-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.custom-select .ant-select-arrow {
  color: rgba(255, 255, 255, 0.5) !important;
}

.custom-alert .ant-alert-icon {
  font-size: 12px !important;
}

.ant-tabs-ink-bar {
  height: 6px !important;
  width: 50% !important;
}

.ant-tabs-tab {
  margin: 0 80px;
}

.ant-tabs-nav::before {
  width: 120%;
  border: none !important;
}

.ant-switch {
  box-shadow: 0 0 0 2px #ffffff !important; /* White border as box-shadow */
}

.ant-switch-checked {
  background-color: #2459a4 !important; /* Color when checked */
}

.ant-switch:not(.ant-switch-checked) {
  background-color: #001840 !important; /* Unchecked color */
}

.ant-switch-handle::before {
  background-color: #ffffff !important; /* Ball color */
}

.input-placeholder::placeholder {
  color: #cb2323; /* light gray for visibility */
  opacity: 1; /* Ensures the color is solid */
}

@media (min-width: 1300px) {
  .homepage-image {
    height: 80vh;
  }
  .register-as-text-card {
    height: 24vh;
  }
}

@media (min-width: 1580px) {
  .homepage-image {
    height: 60vh;
  }

  .register-as-text-card {
    height: 23vh;
  }
}

@media (min-width: 1780px) {
  .homepage-image {
    height: 60vh;
  }

  .register-as-text-card {
    height: 18vh;
  }
}

@media (min-width: 2160px) {
  .homepage-image {
    height: 40vh;
  }

  .register-as-text-card {
    height: 10vh;
  }

  .custom-input::placeholder {
    color: grey;
  }
}

.ant-card-body {
  padding: 24px !important;
}

/* Ensure consistent width of the panel content */



.collapse-container .ant-collapse {
  margin-bottom: 16px; /* Adjust the margin as needed */
}

/* Optional: Add padding or styling to individual panels */
.panel-content {
  padding: 8px;
  background-color: #f5f5f5; /* Example: Add a background color */
  border-radius: 4px; /* Add rounded corners */
}
