name: Checker

on:
  workflow_dispatch:

  # pull_request:
  #   branches: [develop, main]
  # push:
  #   branches: [develop, main]

env:
  NODE_VERSION: '22.14.0'

permissions:
  actions: read
  contents: read

jobs:
  quality:
    name: Code Quality Check
    runs-on: ubuntu-22.04
    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Install pnpm
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      # 3️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'

      # 4️⃣ Confirm Node and pnpm versions
      - name: Confirm Node and pnpm versions
        run: |
          node -v
          pnpm -v

      # 5️⃣ Install dependencies
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # 7️⃣ Run ESLint
      - name: Run ESLint
        run: pnpm lint || exit 1

      # 8️⃣ Build application
      - name: Build application
        run: pnpm build
